* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.container {
    padding: 0 10% 50px;
}

body::-webkit-scrollbar {
    width: 1rem;
}

body::-webkit-scrollbar-thumb {
    height: 4rem;
    border-radius: 0.5rem;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #ffc312;

    &:hover {
        background-color: #5757a6;
    }
}

body::-webkit-scrollbar-track {
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

/* ------------------------Header start -------------------------  */

nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem 1.35rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    position: fixed;
    width: 100%;
    background: transparent;
  }
  
  nav::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    z-index: -1;
  }
  
  nav::after {
    content: "";
    top: 0;
    left: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    );
    transition: 0.8s;
  }
  
  nav:hover::after {
    left: 100%;
  }
  
  
  .logo {
      font-size: 1.5rem;
      color: #fff;
      text-decoration: none;
      font-weight: 700;
    }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    position: fixed;
    top: 0;
    left: 200%;
    z-index: 25;
  }
  
  nav .links a {
    color: #ffc312;
    text-decoration: none;
    transition: 0.3s;
  }
  nav .links a:hover {
    color: #fff;
  }
  .links.show {
    left: 0;
    padding: 6rem 1rem 1rem;
    background-color: #191a19f2;
    height: 100vh;
    width: 100%;
  }
  .links.show a {
    color: white;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
  }
  .menu {
    --height: 4px;
    --width: 16px;
    --bg: #ffc312;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-end;
    cursor: pointer;
    position: absolute;
    right: 1.35rem;
    z-index: 50;
    margin-top: 10px;
  }
  .menu.opened {
    --bg: #fff;
  }
  .menu .middle {
    height: var(--height);
    width: var(--width);
    background-color: var(--bg);
  }
  .menu::before,
  .menu::after {
    content: "";
    background-color: var(--bg);
    height: var(--height);
    transition: 0.2s ease-in-out;
  }
  .menu::before {
    width: calc(var(--width) / 2);
  }
  .menu::after {
    width: calc(var(--width) * 1.5);
  }
  .menu.opened::before {
    width: calc(var(--width) * 1.5);
  }
  .menu.opened::after {
    width: calc(var(--width) / 2);
  }
  
  @media screen and (min-width: 1025px) {
    nav {
      justify-content: space-between;
    }
    .menu {
      display: none;
    }
    .links {
      position: static;
      flex-direction: row;
      gap: 3rem;
    }
  }

  
  /* ------------------------Header End -------------------------  */

.full-scape {
    background-image: url(/images/iprint\ website.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 40vh;
}

.inside-full-scape {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.full-scape .inside-full-scape h1{
    font-size: 40px;
    font-weight: 800;
    line-height: 56px;
    color: #fff;
    position: absolute;
    top: 140px;
}

/* <--------------products--------------> */


.pheading{
    text-align: center;
    margin: 50px 0;
    color: #424144;
}

.prsec{
    padding: 10px 5%;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.products .card{
    width: 310px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 5px;
    margin-bottom: 20px;
}

.products .card img{
    height: 250px;
    width: 100%;
}

.products .card .prdsec{
    padding: 5px 20px;
    opacity: 0.8;
}

.products .card .title{
    font-weight: 900;
    font-size: 20px;
    color: #424144;
    padding: 0 20px;
}

.products .card .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.products .card .box .price{
    color: #f63e4e;
    font-size: 20px;
    font-weight: bold;
}

.price .card .box .btn{
    font-size: 13px;
    color: #f63e4e;
    padding: 10px 18px;
    font-weight: 900;
    border: 1px solid #f63e4e;
    border-radius: 20px;
}

.products .card .box .btn:hover{
    cursor: pointer;
    background-color: #f63e4e;
    color: white;
}


/* <--------------products--------------> */

footer{
    position: relative;
    width: 100%;
    height: auto;
    /* padding: 50px 100px; */
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
  
footer .container .sec{
    margin-right: 30px;
}

footer .container  .logo-bottom{
    width: 40%;
}

footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: crimson;
}

footer p{
    color: #999;
}

.footer-sci{
    margin-top: 20px;
    display: flex;
    padding-left: 0;
}

.footer-sci li{
    list-style: none;
}

.footer-sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.footer-sci li a:hover{
    background: crimson;
}

.footer-sci li a i{
    color: #fff;
    font-size: 20px;
}

.quickLinks {
    position: relative;
    width: 25%;
    
}

.quickLinks ul{
    padding-left: 0;
}

.quickLinks ul li{
    list-style: none;
}

.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: #fff;
}

.fcontact{
    width: calc(35% - 60px);
    margin-right: 0!important;
}

.fcontact ul{
    padding-left: 0;
}

.fcontact .finfo{
    position: relative;
}

.fcontact .finfo li{
    display: flex;
    margin-bottom: 16px;
}

.fcontact .finfo li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.fcontact .finfo li span{
    color: #999;
}

.fcontact .finfo li a{
    color: #999;
    text-decoration: none;
}

.fcontact .finfo li a:hover{
    color: #fff;
}

.copyrightText{
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media (max-width: 991px){
    footer{
        padding: 40px;
    }

    footer .container{
        flex-direction: column;
    }

    footer .container  .logo-bottom{
        width: 100%;
    }

    footer .container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container .sec .logo-bottom,
    .quickLinks,
    .fcontact{
        width: 100%;
    }

    .copyrightText{
        padding: 8px 40px;
    }
}